<h4 class="text-center">Login</h4>

<form class="form mt-4" [formGroup]="loginForm" (submit)="login()">

    <div class="form-group">
        <input 
            type="text"
            class="form-control" 
            placeholder="user name" 
            formControlName="user"
            autofocus>  
            
        <app-vmessage
            *ngIf="user.errors?.required && (user.dirty || user.touched)"
            text='User is required!'>
        </app-vmessage>

        <app-vmessage
            *ngIf="user.errors?.minlength"
            text='User must be at least 3 characters long!'>
        </app-vmessage>
    </div>

    <div class="form-group">
        <input
            type="password" 
            class="form-control" 
            formControlName="password"
            placeholder="password">   
            
        <app-vmessage
            *ngIf="password.errors?.required && (password.dirty || password.touched)"
            text='Password is required'>
        </app-vmessage>     
    </div>

    <button 
        [disabled]="loginForm.invalid" 
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Not a user?<a>Register now</a></p>